%main.main-top.bg3
  .container
    .row.no-height
      .span4.pull-right
        %div
          %h2.pull-right Get a FREE Quote!
          = render "leads/form"
    .clear
    .flexslider.image-slider
      %ul.slides
        %li
          .row
            #main-text.span4
              %h1 FULL RESPONSIVE
              %h3 DISPLAY you WEBSITE perfectly on all devices...
              %p Knight Rider, a shadowy flight into the dangerous world of a man who does not exist.
              .btn-group{style: "margin-bottom: 10px;"}
                %a.btn.btn-majoo.btn-large{href: "#"} Download
                %a.btn.btn-cta.btn-large{href: "#"} or View Demo
            .span4
              = image_tag "slides/vinyl_pic.png", alt: "image"
            .span4.no-height
        %li
          .row
            #main-text.span4
              %h1 SLICK & SMART
              %h3 Imperfection is beauty, madness is genius and ...
              %p We specialize in great service, exceptional design and engaging interactive experiences for humans.
              .btn-group{style: "margin-bottom: 10px;"}
                %a.btn.btn-majoo.btn-large{href: "#"} Buy Now
                %a.btn.btn-cta.btn-large{href: "#"} or View Demo
            .span4
              = image_tag "slides/entry_pic.jpg", alt: "image"
            .span4.no-height
        %li
          .row
            #main-text.span4
              %h1 BOLD DESIGN
              %h3 Create a unique look and feel of your site...
              %ul.icons.unstyled
                %li
                  %i.icon-ok
                  Bulleted lists (like this one)
                %li
                  %i.icon-ok
                  Buttons
                %li
                  %i.icon-ok
                  Button groups
                %li
                  %i.icon-ok
                  Navigation
              %br/
              .btn-group{style: "margin-bottom: 10px;"}
                %a.btn.btn-majoo.btn-large{href: "#"} Download
                %a.btn.btn-cta.btn-large{href: "#"} or View Demo
            .span4
              = image_tag "slides/img_thankyou.jpg", alt: "image"
            .span4.no-height