- provide(:title, 'Home')

.center
  .span7.hero-unit
    %h1 DoorsNWindows
    = link_to 'Learn More!', '#', class: 'btn btn-large btn-majoo'
  .span5
    %h1 Get a Free Quote!
    = render 'leads/form'