#slides
  .row
    %ul.paging
      .slide-btn
        .span2.offset2
          %li
            %a#sweepstake.feature-tab{href: "#0"}
              %i 1
        .span2
          %li
            %a#dashboard.feature-tab{href: "#1"}
              %i 2
        .span2
          %li
            %a#responsive.feature-tab{href: "#2"}
              %i 3
        .span2
          %li
            %a#cloud.feature-tab{href: "#3"}
              %i 4
  .feature-content.slides_container
    #sweepstake-content.slide-content{style: "display:block"}
      .row
        .span4
          = image_tag "2.jpg", align: "right"
        .span8
          %h2 1. One of our representatives will call you
          %p
            We have received your information, and the first available DoorsNWindows representative will call you with the phone number you provided.
            Our average call time after receiving your request is about 30 minutes.
            Once we touch base with you, we'll proceed to the next step: setting an appointment.
          %ul.unstyled.icons
            %li
              %i.fa.fa-check
              DoorsNWindows average response time is 30 minutes
            %li
              %i.fa.fa-check
              If you are unavailable when we call, we will leave a message with contact info
            %li
              %i.fa.fa-check
              DoorsNWindows office hours are Monday - Friday, 9am - 5pm
            %li
              %i.fa.fa-check
              If you have any questions, call us toll free at 1-877-218-4695
    #dashboard-content.slide-content
      .row
        .span4
          = image_tag "istockphoto/thanks-2.jpg", align: "right"
        .span8
          %h2 2. We'll set an Appointment that works for your schedule
          %p
            DoorsNWindows has flexible scheduling options.
            We can often schedule new clients for same- or next-day appointments.
            Estimators are available for appointments Monday - Saturday, 9am - 5pm.
          %ul.unstyled.icons
            %li
              %i.fa.fa-calendar
              DoorsNWindows offers flexibility to work around your schedule
            %li
              %i.fa.fa-calendar
              Depending on our Estimators, we may offer same-day appointments
            %li
              %i.fa.fa-calendar
              Appointments can be scheduled Monday - Friday, 9am - 5pm, during unscheduled times
            %li
              %i.fa.fa-calendar
              Special appointment times may be possible, call for details
    #responsive-content.slide-content
      .row
        .span4
          = image_tag "istockphoto/expert.jpg", align: "right"
        .span8
          %h2 3. Our Estimator will come to your house for the Appointment
          %p
            Once the Estimator arrives, they will ask you to show them the doors or windows you want a quote for.
            The Estimator will then measure each window or door we are quoting for you.
            Measurements take 15-30 minutes on average, depending on the size of your home or project.
            Feel free to ask our Estimator any questions you may have; we can often answer clients' questions regarding their home or project on-site.

          %ul.icons.unstyled
            %li
              %i.fa.fa-edit
              Our Estimator will measure any doors or windows you want quoted, free of charge
            %li
              %i.fa.fa-edit
              DoorsNWindows Estimators are knowledgable and can answer most project-related questions
            %li
              %i.fa.fa-edit
              The measuring process normally takes 15 - 30 minutes, depending on the size of the project
            %li
              %i.fa.fa-edit
              If you are not ready to complete your project, we will keep your quote on file for you
    #cloud-content.slide-content
      .row
        .span4
          = image_tag "istockphoto/thanks-3.jpg", align: "right"
        .span8
          %h2 4. We'll email you your custom Quote within 24 hours
          %p
            No hassle, no confusion: just simple, straightforward pricing and details.
            DoorsNWindows Price Guarantee is: we will match or beat any competitor in price.
            Our core value is, we do not use sales pressure.
            We are not pushy with our clients.
            And we will always keep your quote on file, if you decide to move forward at a later date.

          %ul.icons.unstyled
            %li
              %i.fa.fa-envelope-o
              Your quote will arrive shortly after we receive the Estimator's measurements
            %li
              %i.fa.fa-envelope-o
              DoorsNWindows quotes are simple and readable, with straightforward pricing
            %li
              %i.fa.fa-envelope-o
              We guarantee to beat or match the prices of any competitor on equal products or services
            %li
              %i.fa.fa-envelope-o
              DoorsNWindows is a no-pressure operation, we don't push our clients or use sales gimmicks


