- provide(:title, 'Out of Area')

%h1.center We're sorry, your location is outside our service area.

%h3.center
  DoorsNWindows primarily serves Greater Los Angeles and Inland Empire locations.
  We regret to inform you that your location is outside our service area.

%hr
