- provide(:title, 'Quote Received')

%h1.center Thank you!  A DnW representative will contact with you shortly

%h3.center What happens next?  See our step-by-step quote process by clicking the steps below:

%hr

= render 'static_pages/redirects/instructions'