.row-fluid
  .span7
    .page-title
      %h1 LandingPages#doors
    .page-description
      %p Find me in app/views/landing_pages/doors.html.haml
  .span5
    .page-title
      %h1 Get a Free Quote!
    .subscription-form
      = render 'form'