- provide(:title, 'About')

#page-title
  %h1 The DoorsNWindows Story
.row-fluid.overflow-hidden{style: "height: 1436px;"}
  .span3.full-height
    .widget-alt.full-height
      .well{data:{spy:"affix", offset:{top:"0"}}}
        .headline Sections
        %ul.nav.nav-list.links-list-alt
          %li
            %a{href: "#started"}
              How It Started
              %i.fa.fa-chevron-right.pull-right
          %li
            %a{href: "#values"}
              Core Values
              %i.fa.fa-chevron-right.pull-right
          %li
            %a{href: "#difference"}
              The DNW Difference
              %i.fa.fa-chevron-right.pull-right
  .span9
    #started.clearfix
      .headline
        %h3 How we got started
      :markdown
        #### *A family-owned operation*

      %img{class: "thumbnail pull-right", src:"#{image_url('company/logo.jpg')}", style:"max-width:400px;"}

      :markdown
        We are a small, family-owned and operated window and door company.
        Company founder Louis Ottrando and his wife Christine entered the
        home replacement industry in 1985 and have been committed to great
        service ever since.

        Our expertise comes from being actual installers who know precisely
        what's involved in an installation job. Having been in the window
        and door industry for our entire professional career, we have seen
        and adapted to the many changes in this industry. We are a small
        company with no intention of growing much larger; we want to keep
        things less complicated. We have been blessed doing a trade and
        offering a service we truly enjoy and we do not sub-out our window
        installations.

        If you choose to work with DoorsNWindows, you will notice our
        professionalism and experience. We are not interested in pressuring
        you into a purchase that you neither want nor need. Our aim is to
        make it easy for you to replace your doors and windows and help you
        save money in the process. Since we are a small company, you will
        not have the commission mark-up of a typical sales-team.  We run a
        no-pressure, homeowner-oriented business.

        Unlike most door and window companies, we will install most products*
        customers have bought from large warehouse stores and will pick up,
        deliver, and install their products.

        ###### *Please call for a price and to verify that we will install the product you have purchased.

    #values.clearfix
      .headline
        %h3 Our core values
      :markdown
        #### *Help and expertise, without all the pressure*

      .thumbnail.pull-left
        = image_tag 'company/packing-house-1.jpg'
        .caption
          :markdown
            ##### Our beautiful new showroom in the historical downtown Claremont Packing House is located upstairs just above Z-Pizza.

      :markdown
        We do not like playing salesman games. We only make our
        money on the installation aspect and give you the best
        price available on the product. We do not sell product
        without our installation. We save our customers an enormous
        amount of money. In fact we install many products customers
        have bought from stores and we will go pick up and deliver
        and install their product.

        Customers will not speak to inexperienced salespeople but
        to people that can help answer their questions. We will
        gladly compete against our competitors for your business
        and go over any differences for you to make an educated
        investment.

        We have a beautiful new location in the historical downtown
        Claremont Packing House: 532 W First St., Suite #202 Claremont,
        CA 91711. Located upstairs above Z-Pizza.  Our showroom is by
        appointment only. Please call beforehand to set-up an appointment.
        (909)912-8510. We have a small assortment of window styles located
        in our showroom.

    #difference.clearfix
      .headline
        %h3 The DoorsNWindows difference

      .row-fluid
        .span7
          .pricing-table
            .color-1
              %h3 We go above and beyond the competition
              %h4.center The best service at the lowest prices anywhere
              %ul.unstyled
                %li
                  %i.fa.fa-phone
                  You will only speak with knowlegable representatives
                %li
                  %i.fa.fa-ban
                  We refuse to use high pressure sales with you
                %li
                  %i.fa.fa-thumbs-o-up
                  Products from any manufacturer or store of your choice
                %li
                  %i.fa.fa-road
                  Our install crew has 29 years of experience in quality
                %li
                  %i.fa.fa-star
                  We only use the best materials and the best techniques
                %li
                  %i.fa.fa-certificate
                  We offer a 5-year warranty on all our installations
              %h4.center.sign-up
                See for yourself:
                = link_to "Get a Free Quote today!", savings_path
        .span5
          %img{class: "thumbnail pull-right", src:"#{image_url('company/happy-owner.jpg')}"}


