- provide(:title, 'About')

#page-title
  %h1 The DoorsNWindows Company Story
.row-fluid
  .span3
    .widget-alt.well{data:{spy:"affix", offset:{top:"0"}}}
      .headline Sections
      %ul.nav.nav-list.links-list-alt
        %li
          %a{href: "#started"}
            How It Started
            %i.icon-chevron-right.pull-right
        %li
          %a{href: "#values"}
            Business Values
            %i.icon-chevron-right.pull-right
        %li
          %a{href: "#difference"}
            The DNW Difference
            %i.icon-chevron-right.pull-right
        %li
          %a{href: "#experience"}
            What You'll Experience
            %i.icon-chevron-right.pull-right
  .span9
    #started
      .headline
        %h4 How we got started
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...

    #values
      .headline
        %h4 Business values the DoorsNWindows way
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...

    #difference
      .headline
        %h4 The DoorsNWindows difference from competitors
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...

    #experience
      .headline
        %h4 What our customers experience with us
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...