- provide(:title, 'Guarantee')

#page-title
  %h1 DoorsNWindows 100% Guarantee

.row-fluid
  .span8
    .headline
      %h4 We guarantee our quality and services to all customers
    :markdown
      Our assurance to our customers. We are persuaded to do things
      orrectly and we stand behind our installations. By law we are
      required to give a one year warranty on our installation we
      automatically give a five-year warranty. We do offer extended
      warranties with our service plan. The service plan we offer is
      every four months we give a product checkup and cleaning which
      will keep your product in mint condition. If products are not
      serviced your warranties can potentially be void. So, whether
      you have our service plan or not customers should know how to
      upkeep their product.

  .span4
    .headline
      %h4 The DoorsNWindows promise
    %img{class: "thumbnail", src:"#{image_url('istockphoto/guarantee.jpg')}"}