- provide(:title, 'Services')

#page-title
  %h1 DoorsNWindows Services
.row-fluid
  .span3
    .widget-alt.well{data:{spy:"affix", offset:{top:"0"}}}
      .headline Sections
      %ul.nav.nav-list.links-list-alt
        %li
          %a{href: "#estimates"}
            Consultations
            %i.icon-chevron-right.pull-right
        %li
          %a{href: "#products"}
            Product Specialists
            %i.icon-chevron-right.pull-right
        %li
          %a{href: "#difference"}
            Installations
            %i.icon-chevron-right.pull-right
        %li
          %a{href: "#experience"}
            Maintenance Packages
            %i.icon-chevron-right.pull-right
  .span9
    #estimates
      .headline
        %h4 Estimates & Consultations
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...

    #values
      .headline
        %h4 Product Ordering & Information
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...

    #difference
      .headline
        %h4 Installations
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...

    #experience
      .headline
        %h4 Maintenance and Product Care
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...
      %p
        Lorem Ipsum dolor...