// Navigation
.topnav {
  .container ul {
    padding-right: 40px;
  }
}
.navbar {
  max-width: 100% !important;

  .navbar-inner {
    min-width: 100%;
    padding-right: 0;
  }
}

// Homepage
#static_pages_home {
  .main-top {
    min-height: 430px;
    height: 430px;
    max-height: 100%;
  }
  // Flexslider
  .row.no-height {
    .well {
      height: 370px;
      margin-bottom: 0;
    }

    h2 {
      text-align: center;
    }

    .simple_form {
      width: 100%;

      label {
        &.radio_buttons {
          width: 100%;
        }
      }
    }
  }
}