// Navigation
.topnav {
  .container ul {
    padding-right: 5%;
  }
}

// Homepage
#static_pages_home {
  .main-top {
    height: auto;
    max-height: 100%;
  }
  // Flexslider
  .row.no-height {
    .well {
      height: 370px;
      margin-bottom: 0;
    }

    h2 {
      text-align: center;
    }

    .simple_form {
      width: 100%;

      label {
        &.radio_buttons {
          width: 100%;
        }
      }
    }
  }
}