%h1 Users
.center.hero-unit
	%ul.nav.nav-list
		%li.nav-header All Users
		%li.divider
		- @users.each do |user|
			%li
				.row-fluid
					.span4 Username: #{ user.name }
					.span4 Email: #{ user.email }
			%li.divider