- provide(:title, @user.name)
%h1= @user.name.humanize
.center.hero-unit
	%ul.nav.nav-list
		%li.nav-header User Info
		%li.divider
		%li
			.row-fluid
				.span4 Username: #{ @user.name }
				.span4 Email: #{ @user.email }
		%li.divider