#slides
  .row
    %ul.paging
      .slide-btn
        .span2.offset2
          %li
            %a#sweepstake.feature-tab{href: "#0"}
              %i 1
        .span2
          %li
            %a#dashboard.feature-tab{href: "#1"}
              %i 2
        .span2
          %li
            %a#responsive.feature-tab{href: "#2"}
              %i 3
        .span2
          %li
            %a#cloud.feature-tab{href: "#3"}
              %i 4
  .feature-content.slides_container
    #sweepstake-content.slide-content{style: "display:block"}
      .row
        .span4
          = image_tag "2.jpg", align: "right"
        .span8
          %h2 1. One of our representatives will call you
          %p
            We have received your information, and the first available DoorsNWindows representative will call you with the phone number you provided.
            Our average call time after receiving your request is about 30 minutes.
            Once we touch base with you, we'll proceed to the next step: setting an appointment.
          %ul.unstyled.icons
            %li
              %i.icon-ok
              Live Calls
            %li
              %i.icon-ok
              Email Support
            %li
              %i.icon-ok
              Forums
            %li
              %i.icon-ok
              Other
    #dashboard-content.slide-content
      .row
        .span4
          = image_tag "4.jpg", align: "right"
        .span8
          %h2 2. We'll set an Appointment that works for your schedule
          %p
            DoorsNWindows has flexible scheduling options.
            We can often schedule new clients for same- or next-day appointments.
            Estimators are available for appointments Monday - Saturday, 9am - 5pm.
          %ul.icons.unstyled
            %li
              %i.icon-ok
              feature 1
            %li
              %i.icon-ok
              feature 1
            %li
              %i.icon-ok
              feature 1
            %li
              %i.icon-ok
              feature 1
    #responsive-content.slide-content
      .row
        .span4
          = image_tag "3.jpg", align: "right"
        .span8
          %h2 3. Our Estimator will come to your house for the Appointment
          %p
            Once the Estimator arrives, they will ask you to show them the doors or windows you want a quote for.
            The Estimator will then measure each window or door we are quoting for you.
            Measurements take 15-30 minutes on average, depending on the size of your home or project.
            Feel free to ask our Estimator any questions you may have; we can often answer clients' questions regarding their home or project on-site.

          %ul.icons.unstyled
            %li
              %i.icon-ok
              feature 1
            %li
              %i.icon-ok
              feature 1
            %li
              %i.icon-ok
              feature 1
            %li
              %i.icon-ok
              feature 1
    #cloud-content.slide-content
      .row
        .span4
          = image_tag "1_1.png", align: "right"
        .span8
          %h2 4. We'll email you your custom Quote within 24 hours
          %p
            No hassle, no confusion: just simple, straightforward pricing and details.
            DoorsNWindows Price Guarantee is: we will match or beat any competitor in price.
            Our core value is, we do not use sales pressure.
            We are not pushy with our clients.
            And we will always keep your quote on file, if you decide to move forward at a later date.

          %ul.icons.unstyled
            %li
              %i.icon-cloud
              feature 1
            %li
              %i.icon-cloud
              feature 1
            %li
              %i.icon-cloud
              feature 1
            %li
              %i.icon-cloud
              feature 1
