:javascript
  //  Slider
  $(document).ready(function(){
    $('#slides').slides({
      effect: 'fade',
      bigTarget: true,
      autoWidth: true,
      hoverPause: true,
      paginationClass: 'paging',
      start: 1
    });
  });

  //Slider End
:javascript
  $(".feature-tab").click(function(){
    show_feature($(this).attr("id"),this)
    return false;
  });

  var show_feature = function(feature,from){
    $(".feature-tab").removeClass("current");
    $("#" + feature).addClass("current");
    $(".slide-content").hide();
    if(from != 'link'){
      $("#" + feature + "-content").removeClass("hide");
    }else{
      $("#" + feature + "-content").fadeIn('slow');
    }
  }

  $('a[href$="#0"]').trigger('click');