%h1.center Please review your information

%h3.center
  There were some missing fields and/or errors in the information you provided.  Please check and submit again.

%hr

.row
  .span4.offset4
    = render 'leads/form'

%hr