%h1 All Leads

.row-fluid

  #{ will_paginate }

  %ul.nav.nav-list
    %li
      .row-fluid
        .span2.nav-header Name:
        .span2.nav-header Phone Number:
        .span2.nav-header Email:
        .span2.nav-header Name:
    %li.divider
    = render 'leads/leads'

  #{ will_paginate }