/ Current Lead
var lead = $("#lead_#{ @lead.id }");
var alertP = lead.find(".alert-placeholder");
var updatedAt = lead.find(".updated-at");
var leadData = lead.find(".lead-data");
var success;

/ Updated_At

/ Error Handling
alertP.empty();

- if @lead.errors.any?
  var errors = $('<ul />');

  - @lead.errors.full_messages.each do |error|
    errors.append("<li>#{ error }</li>");

  bootstrap_alert(alertP, "error", "Please correct the following errors:", errors, true);

- else
  leadData.addClass("success").delay(1000).queue(function(){$(this).removeClass("success");});
  success = true;

if(success) { updatedAt.text("#{ l(@lead.updated_at, format: :short) }") }