%footer.footer
  .container
    %span ©
    = link_to 'DoorsNWindows', root_path
    %span #{Time.now.year}
    .links.page-description
      %ul.unstyled
        %li
          %a{href: "#"} About Us
        %li
          %a{href: "#"} Press
        %li
          %a{href: "#"} Partner with maJoo
        %li
          %a{href: "#"} Terms
        %li
          %a{href: "#"} Privacy Policy
        %li
          %a{href: "#"} Jobs
        %li
          %a{href: "#"} Contact Us