%header.header
  .container
    .row-fluid
      .span6
        = image_tag("logo2.png", alt: "DoorsNWindows", class: 'brand', id: 'logo')
      .span6.page-title
        %h1.pull-right 1-877-218-4695