.row-fluid
  .span6
    .page-title
      %h1 Renewed comfort and beauty
    .row-fluid
      .span6
        .page-description
          %p There are countless reasons why you should choose DoorsNWindows...  here are just a few
      .span6
        .pricing-table
          .color-1.pro
            %h3 DoorsNWindows Special Offers
            %h4.center Best Price. Guaranteed.
            %ul.unstyled
              %li Cost Effective
              %li Better Temperature Control
              %li Increase your home's value
              %li Secure, auto-locking features
              %li Improved home appearance overnight!
            %h4.center.sign-up Get a Free Quote today!
  .span5.offset1.well
    .subscription-form
      .page-title
        %h1 Get a Free Quote!
      = render 'form'