.row-fluid
  .span6
    .page-title
      %h1 Renewed comfort and beauty
    .row-fluid
      .span6#popover-cont
        .popover.left
          .arrow
          .popover-content
            .page-description
              %p There are countless reasons why you should choose DoorsNWindows...  here are just a few
      .span6
        .pricing-table
          .color-1.pro
            %h3 DoorsNWindows Special Offers
            %h4.center Best Price. Guaranteed.
            %ul.unstyled
              %li
                %i.fa.fa-money
                Cost Effective
              %li
                %i.fa.fa-fire
                Better Temperature Control
              %li
                %i.fa.fa-plus
                Increase your home's value
              %li
                %i.fa.fa-lock
                Secure auto-locking features
              %li
                %i.fa.fa-home
                Improved appearance overnight
            %h4.center.sign-up Get a Free Quote today!
  .span5.offset1.well
    .subscription-form
      .page-title
        %h1 Get a Free Quote!
      = render 'form'