.page-title
  %h2 Frequently Asked Questions

#accordion.accordion
  .accordion-group
    .accordion-heading
      %a{href:"#collapseOne", class: "accordion-toggle", data:{toggle:"collapse",parent:"#accordion"}}
        %h4
          %i.fa.fa-lg.fa-question-circle
          What Services does DoorsNWindows provide?

    #collapseOne.accordion-body.collapse
      .accordion-inner
        :markdown
          We install and sell Products for residential homes.
          Type of products vinyl, wood, wood clad products we also
          do custom bay windows and bow windows. We offer a special
          100% financing for energy grade windows and doors that meet
          energy star approval.
  .accordion-group
    .accordion-heading
      %a{href:"#collapseTwo", class: "accordion-toggle", data:{toggle:"collapse",parent:"#accordion"}}
        %h4
          %i.fa.fa-lg.fa-question-circle
          What kind of Guarantee does DoorsNWindows offer?
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        :markdown
          We guarantee to meet and exceed industry standards and
          use top grade sealants and insulating foam. We guarantee
          to be there for our customers.
  .accordion-group
    .accordion-heading
      %a{href:"#collapseThree", class: "accordion-toggle", data:{toggle:"collapse",parent:"#accordion"}}
        %h4
          %i.fa.fa-lg.fa-question-circle
          Does DoorsNWindows sell door hardware and locks?
    #collapseThree.accordion-body.collapse
      .accordion-inner
        :markdown
          We have a very big variety to choose from for door hardware.
          We also sell other types of hardware that is common for other
          items such as addresses, mailboxes, cabinet hardware etc. You
          could check the links to the various companies and email us
          the information for us to send you a proposal.

  .accordion-group
    .accordion-heading
      %a{href:"#collapseFour", class: "accordion-toggle", data:{toggle:"collapse",parent:"#accordion"}}
        %h4
          %i.fa.fa-lg.fa-question-circle
          Are Historical Homes projects DoorsNWindows will contract for?
    #collapseFour.accordion-body.collapse
      .accordion-inner
        :markdown
          Historical homes are unique because they cannot use particular
          products and they must meet historical preservation and other
          unique features. We do have windows that are made and also we
          are many times able to refurbish the existing windows.
  .accordion-group
    .accordion-heading
      %a{href:"#collapseFive", class: "accordion-toggle", data:{toggle:"collapse",parent:"#accordion"}}
        %h4
          %i.fa.fa-lg.fa-question-circle
          What is the Installation Warranty for DoorsNWindows installations?
    #collapseFive.accordion-body.collapse
      .accordion-inner
        :markdown
          Installations are guaranteed for five years under proper
          maintenance to function properly.
  .accordion-group
    .accordion-heading
      %a{href:"#collapseSix", class: "accordion-toggle", data:{toggle:"collapse",parent:"#accordion"}}
        %h4
          %i.fa.fa-lg.fa-question-circle
          Are there Manufacturer's Warranties for the products DoorsNWindows provides?
    #collapseSix.accordion-body.collapse
      .accordion-inner
        :markdown
          Manufactures very in their type of warranty the majority
          of them are a lifetime warranty with variances.