// Heights
.h150 {
  $h: 150px;
  min-height: $h;
  height: $h;
  max-height: $h;
}

// Typography
.small {
  font-size: 85%;
}

.center {
  text-align: center;
}

span.amp {
  font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
  font-size:110%;
  font-style:italic;
}

em {

}

// Dropdown Navigation
.dropdown-menu {
  z-index: 9999;
}

// Alert BG Colors
.success {
  background-color: #DFF0D8 !important;
}
.error {
  background-color: #F2DEDE !important;
}
.warning {
  background-color: #FCF8E3 !important;
}
.info {
  background-color: #D9EDF7 !important;
}
.success, .error, .warning, .info {
  @include transition (background-color 0.4s ease-out);
}

// UL Table Simulation
.table-striped > li:nth-child(even) {
  background-color: #F9F9F9;
}

// Icons
a:hover {
  i.icon-opaque {
    opacity: 0.5 !important;
    @include transition (opacity 0.2s ease-out);
  }
}

i.icon-opaque {
  opacity: 0.25 !important;
  @include transition (opacity 0.2s ease-out);
}

//Buttons
a:focus, input:focus, select:focus, textarea:focus, button:focus {
    outline: none !important;
}

//Collapse
.collapse {
  @include transition (height 0.15s ease);
}