// BG Colors

body {
  background-color: #087135;
}

main {
  background-color: #fff;
  padding: 20px 0;
}

.main-top {
  height: 370px;
  max-height: 370px;
  overflow: hidden;

  .flexslider {
    height: 340px;
    max-height: 340px;
  }
}

// Widgets
.widget-alt {
  min-width: 210px;
  width: auto;
  max-width: 230px;
  padding: 10px;
}

//Pricing Tables
.pricing-table {
  h3, h4 {
    a {
      background-color: rgba(255,255,255,0.3);
      border-radius: 4px;
      color: #056832;
      padding: 2px;

      &:hover {
        background-color: rgba(255,255,255,0.35);
        color: #087135;
      }
    }
  }
}

// Nav Styles

.topnav {
  position: relative;
  z-index: 0;

  li {
    padding-left: 8px;
  }

  i {
    background-image: none;
  }
}

.navbar-static-top {
  margin-bottom: 0;
  overflow: visible;

  .navbar-inner {
    margin-top: 0;
    overflow: visible;

    .container {
      overflow: visible;
    }
  }
}

#logo {
  margin-top: -35px;
  padding: 0 0 0 0;
  position: absolute;

  img {
    display: block;
  }
}

.nav {
  .dropdown-menu {
    .fa-stack {
      height: auto;
      line-height: 1.5em !important;

      .fa-stack-2x {
        font-size: 1.25em;
        text-indent: 0.75em;
      }
    }
  }
}

// Font Styles

h1, h2, h3, h4, h5, h6 {
  &.center {
    text-align: center;
  }
}

input {
  font-weight: 200;
}

i {
  font-style: normal;
}

// Labels & Badges

.badge {
  background-color: #999;
}

.label.label-important {
  background-color: #B94A48;
}

.label.label-warning {
  background-color: #F89406;
}

.label.label-info {
  background-color: #3A87AD;
}

// Thumbnail image styles

img.thumbnail {
  margin-bottom: 12px;
  max-width: 300px;
  width: 100%;

  &.vert-align {
    margin-top: 30%;
  }

  &.pull-left {
    margin-right: 20px;
  }

  &.pull-right {
    margin-left: 20px;
  }
}

// FontAwesome Styles

.fa-red {
  color: #B94A48 !important;
}
.fa-green {
  color: #0A8E42 !important;
}
.fa-green-dark {
  color: #043D1D !important;
}
.fa-blue {
  color: #3A87AD !important;
}
.fa-yellow {
  color: #F89406 !important;
}
.fa-black {
  color: #000000 !important;
}

// SliderJS

#slides {
  .slide-btn {
    i {
      background-image: none;
    }
  }
}

// Helper Styles

.no-height {
  height: 0px;
  max-height: 0px;
  overflow: visible;
  z-index: 9999;

  > div {
    > div {
      position: relative;
      height: 100%;
      max-height: 100%;
      width: 100%;
      max-width: 100%;
      z-index: 1;
    }
  }
}
