/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require font-awesome
 */

//Framework Imports
@import "bourbon";

//Bootstrap
@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstyle";

//Template Imports
@import "fancybox";
@import "style";
@import "style-responsive";
@import "simple_form";
@import "majoostyle";
@import "landing_leads/style";
@import "landing_leads/elistyle";

// rails dev
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}

// popover
.popover {
  @extend .well;
  display: block;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 10px;

  .arrow:after {
    border-left-color: rgba(120, 120, 120, 0.5) !important;
  }

  .page-description {
    margin-top: 0;
    padding:0;
  }
}