/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require font-awesome
 */

//Framework Imports
@import "bourbon";
@import "framework_and_overrides";

//Website Imports
@import "static_pages";
@import "simple_form";
@import "leads";


// Features "Circle" Slider

#static_pages_home {
  #slides {

    .slides_control {
      height: 300px !important;
    }

    .feature-tab {
      background-color: #7d6a55;
      border: 1px solid;
      border-color: #5b4833;
      overflow: hidden;

      @include transition (background-color 0.15s ease-in-out, border-color 0.15s ease-in-out);

      i {
        background-position: left top;
        background-repeat: no-repeat;
        border-radius: 100px;
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.5;

        @include transition (opacity 0.15s ease-in-out);
      }

      &#pella {
        i {
          background-image: image-url("logos/pella-circle.png");
        }
      }

      &#milgard {
        i {
          background-image: image-url("logos/milgard-circle.png");
        }
      }

      &#superior {
        i {
          background-image: image-url("logos/superior-circle.png");
        }
      }

      &#aaw {
        i {
          background-image: image-url("logos/aaw-circle.png");
        }
      }

      &.current {
        &#pella {
          background-color: #fee252;
          border-color: #000;
        }

        &#milgard {
          background-color: #ed1c24;
          border-color: #cb0a02;
        }

        &#superior {
          background-color: #1483ba;
          border-color: #026198;
        }

        &#aaw {
          background-color: #2a5635;
          border-color: #083413;
        }

        i {
          opacity: 1;
        }
      }
    }

    .slide-content {
      .thumbnail {
        max-width: 90%;
        margin-left: 5%;

        img {
          height: 245px;
        }
      }
    }
  }
}

// Contact Info Page

#static_pages_contact_info {
  .container {
    .row {
      margin-left: 0;
    }
  }

  .container-fluid {
    padding: 20px 0 0 0;

    iframe {
      border: none !important;
      height: 400px;
      width: 100%;
    }
  }

  #footer {
    margin-top: -5px;
  }
}
