//Bootstrap
@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstyle";

//Template Imports
@import "fancybox";
@import "flexslider";
@import "style";
@import "style-responsive";
@import "majoostyle";
@import "colors/default";
@import "switcher";

// rails dev
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}