//Bootstrap
@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstyle";

//Template Imports
@import "fancybox";
@import "flexslider";
@import "font-awesome";
@import "font-awesome-ie7";
@import "style";
@import "style-responsive";
@import "switcher";

// rails dev
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}