// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#leads {
  #lead-controls {
    margin: 0 0 10px 0;

    .pagination {
      float: left;
      margin: 5px 0 0 0;
    }

    .lead-links {
      margin: 10px;
    }
  }

  ul {
    padding: 0 0 0 0;

    li {
      [class*="span"] {
        border-left: 1px solid #eee;
        overflow: hidden;
        padding: 5px;
      }
    }

    .lead-item, .lead-data, .lead-form {
      @include transition (background-color 0.4s ease-out);
    }

    #leads_header {
      .navbar {
        margin-bottom: 0;

        .navbar-inner {
          padding: {
            left: 0;
            right: 0;
          }
        }
      }

      [class*="span"] {
        @extend .nav-header;

        min-height: 40px;
        overflow: visible;
        padding: 0;

        &:first-of-type {
          border-left: none;
        }

        span, a {
          @extend .muted;
          display: block;
          min-width: 60px;
          padding: {
            left: 6px;
            top: 10px;
          }

          &:hover {
            text-decoration: none;
          }

          i {
            @extend .pull-right;
            @extend .icon-opaque;
          }
        }
      }
    }

    .divider {
      margin: 0 0 0 0;
    }
  }

  .lead-data, .simple_form {
    @include box-sizing(border-box);
    max-width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  #lead-controls, .lead-data  {
    .lead-new-lead {
      @extend .badge-warning;
    }
    .lead-voicemail-left {}
    .lead-non-responsive {
      @extend .badge-inverse;
    }
    .lead-appointment-set {
      @extend .badge-info;
    }
    .lead-job-sold {
      @extend .badge-success;
    }
  }

  #lead-controls {
    .badge {
      padding: 0 0 0 0;

      a, a:hover, a:visited {
        color: #fff;
        display: block;
        padding: 2px 9px;
        text-decoration: none;
      }
      &:hover {
        box-shadow: 0 0 10px 10px rgba(180, 0, 180, 0.4) inset
      }
    }
  }

  .lead-data, .simple_form .lead-form {
    .span1 {
      .control-group, small, strong, .row-fluid {
        display: block;
        min-width: 140%;
        max-width: 140%;
        width: 140%;
      }
    }

    .span2 {
      .control-group, small, strong, .row-fluid {
        display: block;
        min-width: 115%;
        max-width: 115%;
        width: 115%;
      }
    }
  }

  .simple_form .lead-form {
    [class*="span"] {
      min-height: 130px;
      overflow: visible;
    }

    .control-group {
      input.string, select, textarea {
        @include box-sizing(border-box);
        width: 100%;
      }

      input.string {
        padding: 15px 6px;
      }

      select, textarea {
        margin-bottom: 0;
        resize: vertical;
      }

      .control-label {
        @extend .muted;
        @extend .small;
      }
    }

    .radio_buttons {
      padding: 0 8px;
    }

    .btn { margin-bottom: 2px; }

    .btn-action {
      padding: {
        left: 0;
        right: 0;
      }
      text-align: center;
      width: 100%;
    }
  }
}