// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#leads {
  #lead-controls {
    margin: 10px 0;

    .pagination {
      float: left;
      margin: 5px 0 0 0;
    }
  }

  ul {
    padding: 0 0 0 0;

    li {
      [class*="span"] {
        border-left: 1px solid #eee;
        padding: 5px;
      }

      .lead-data {
        @include transition (background-color 0.4s ease-in-out);
      }
    }

    #leads_header {
      .navbar {
        margin-bottom: 0;

        .navbar-inner {
          padding: {
            left: 0;
            right: 0;
          }
        }
      }

      [class*="span"] {
        @extend .nav-header;

        min-height: 40px;
        overflow: visible;
        padding: 0;

        &:first-of-type {
          border-left: none;
        }

        span {
          display: block;
          min-width: 60px;
          padding: {
            left: 6px;
            top: 10px;
          }
        }
      }
    }

    .divider {
      margin: 0 0 0 0;
    }
  }

  .simple_form {
    @include box-sizing(border-box);
    max-width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    .row-fluid {

      [class*="span"] {
        // background: #EEE;
        min-height: 100px;
        overflow: visible;
      }
      [class*="span"] [class*="span"] { background: #FEE; }

      .span1 {
        .control-group, small, strong, .row-fluid {
          display: block;
          min-width: 140%;
          max-width: 140%;
          width: 140%;
        }
      }

      .span2 {
        .control-group, small, strong, .row-fluid {
          display: block;
          min-width: 115%;
          max-width: 115%;
          width: 115%;
        }
      }

      .control-group {
        input.string {
          @include box-sizing(border-box);
          padding: 15px 6px;
          width: 100%;
        }

        .control-label {
          @extend .muted;
          @extend .small;
        }
      }

      .btn {
        padding: {
          left: 0;
          right: 0;
        }
        text-align: center;
        width: 100%;
      }

      .radio_buttons {
        padding: 0 8px;
      }
    }
  }
}