// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Features "Circle" Slider

#static_pages_home {
  #slides {

    .slides_control {
      height: 300px !important;
    }

    .feature-tab {
      background-color: #7d6a55;
      border: 1px solid;
      border-color: #5b4833;
      overflow: hidden;

      @include transition (background-color 0.15s ease-in-out, border-color 0.15s ease-in-out);

      i {
        background-position: left top;
        background-repeat: no-repeat;
        border-radius: 100px;
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.5;

        @include transition (opacity 0.15s ease-in-out);
      }

      &#pella {
        i {
          background-image: image-url("logos/pella-circle.png");
        }
      }

      &#milgard {
        i {
          background-image: image-url("logos/milgard-circle.png");
        }
      }

      &#superior {
        i {
          background-image: image-url("logos/superior-circle.png");
        }
      }

      &#aaw {
        i {
          background-image: image-url("logos/aaw-circle.png");
        }
      }

      &.current {
        &#pella {
          background-color: #fee252;
          border-color: #000;
        }

        &#milgard {
          background-color: #ed1c24;
          border-color: #cb0a02;
        }

        &#superior {
          background-color: #1483ba;
          border-color: #026198;
        }

        &#aaw {
          background-color: #2a5635;
          border-color: #083413;
        }

        i {
          opacity: 1;
        }
      }
    }

    .slide-content {
      .thumbnail {
        max-width: 90%;
        margin-left: 5%;

        img {
          height: 245px;
        }
      }
    }
  }
}

// How it works Page

#static_pages_info_how {
  #slides > .row {
    margin-left: 0;
  }
}

// Contact Pages

#static_pages_contact_email {
  .simple_form {
    input.string, textarea {
      width: 96%;
      max-width: 96%;
    }

    textarea {
      resize: vertical;
    }
  }
}

#static_pages_contact_info {
  .container {
    .row {
      margin-left: 0;
    }
  }

  .container-fluid {
    padding: 20px 0 0 0;

    iframe {
      border: none !important;
      height: 400px;
      width: 100%;
    }
  }

  #footer {
    margin-top: -5px;
  }
}

