.container
  .row
    .span12
      %h1.center DoorsNWindows in Downtown Claremont, CA

  .row
    .span3.offset1
      .thumbnail
        = image_tag 'company/packing-house-1.jpg'
    .span4
      %h4.center
        DoorsNWindows Showroom
        %br
        %br Claremont Packing House
        %br 532 W First St. Suite #202
        %br Claremont, CA 91711
        %br 1-877-218-4695
    .span3
      .thumbnail
        = image_tag 'company/packing-house-2.jpg'
  .row
    .span12
      %hr

%iframe{src:"https://mapsengine.google.com/map/embed?mid=zFvEp5FDxeRY.kKfq3GhujDfI"}