/ %footer.footer
/   %small
/     %span ©
/     = link_to 'DoorsNWindows', root_path
/     %span #{Time.now.year}
/     %ul.nav.nav-pills.pull-right
/       %li= link_to "Home", root_path
/       %li= link_to "About", about_path
#footer
  .container
    %span.brand
      ©
      = link_to 'DoorsNWindows', root_path
      #{Time.now.year}
    .links
      = render 'layouts/footer_navigation'