:javascript
  $(document).ready(function() {
    $('.image-slider').flexslider({
      animation: "fade",
      slideshowSpeed: 4000,
      animationSpeed: 1200,
      pausePlay: true,
      controlNav: true,
      keyboardNav: true,
      directionNav: true,
      pauseOnHover: true,
      pauseOnAction: true
    });


  });
:javascript
  //  Slider
  $(document).ready(function(){
    $('#slides').slides({
      effect: 'fade',
      play: 0,
      pause: 2500,
      autoWidth: true,
      hoverPause: true,
      paginationClass: 'paging',
      start: 1
    });
  });

  //Slider End
:javascript
  $(".feature-tab").click(function(){
    show_feature($(this).attr("id"),this)
    return false;
  });

  var show_feature = function(feature,from){
    $(".feature-tab").removeClass("current");
    $("#" + feature).addClass("current");
    $(".slide-content").hide();
    if(from != 'link'){
      $("#" + feature + "-content").removeClass("hide");
    }else{
      $("#" + feature + "-content").fadeIn('slow');
    }
  }

  $('a[href$="#0"]').trigger('click');