/ # navigation styled for Twitter Bootstrap 2.3
.topnav
  .container
    %ul.pull-right
      %li
        = link_to contact_email_path do
          %i.fa.fa-lg.fa-envelope
      %li
        %a{href:"javascript: void(0)", rel:"popover", data:{html:"true", container:"header", placement:"bottom", content:"<h3>1-877-218-4695</h3>", animation:"false"}}
          %i.fa.fa-lg.fa-phone
      / %li
      /   %a{href:"#"}
      /     %i.fa.fa-lg.fa-twitter
      %li
        %a{href:"https://www.facebook.com/pages/DoorsNWindows/173053602766565", target: "_blank"}
          %i.fa.fa-lg.fa-facebook
      / %li
      /   %a{href:"#"}
      /     %i.fa.fa-lg.fa-google-plus
.navbar.navbar-static-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("logo.png", alt: "DoorsNWindows"), root_path, class: 'brand', id: 'logo'
      .nav-collapse.collapse.navbar-responsive-collapse
        %ul.nav.pull-right
          = render 'layouts/navigation_links'